
    .swiper-container {
      width: 100%;
      height: 350px;
      margin: 20px auto;
      background-color:none;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color:none;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .append-buttons {
      display:table;
      text-align: center;
      margin-top: 20px;
    }

#divA {
	padding:2px;
    margin:auto;
	width: 30%;
	height: auto;
	max-height:auto;
	text-align:center;
	vertical-align:middle;
	display: inline;
	background-color: rgba(255, 255, 255, .9);
	border: 1px dotted #fff;
	 background-color: #343a40;
	 color:rgb(253, 253, 251);
    font-size:17px;
	border-radius: 6px;
	margin: 2px auto;
	padding: 3px;
	-webkit-tap-highlight-color: transparent;
	font-size: 16px;
	font-weight:400;
	text-decoration: none;
	overflow-wrap: break-word;
}